* {
  margin-top: 0;
}

.header {
  position: fixed;
  position: sticky;
  z-index: 9999;
  top: 0;
}

.header-top {
  height: 30px;
  background: linear-gradient(-170deg, #5f6e9c, #5f819e, #67a8a8, #69bdac);
  text-align: center;
}

.header-top h3 {
  color: #fff;
}


.header-main {
  position: relative;
  height: 50px;
  display: flex;
  background: red;
}

.header-main .logo h2 {
  position: absolute;
  left: 30px;
  top: 7px;
  cursor: pointer;
}

/* .account__info {
  min-width: 70px;
  flex-flow: column;
} */

.account__avatar {
  border: 1px orangered solid;
}

.account__avatar:hover {
  cursor: pointer;

}

.button__login {
  position: absolute;
  background: hsla(0, 0%, 100%, .3);
  color: #fff;
  right: 30px;
  top: 9px;
}

.products {
  margin-left: 30px;
}

.products__item {
  /* position: relative; */
  margin-bottom: 20px;
}

.products_name {
  margin-left: 5px;
}